<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Next Boat</title>
    <link href="index.css" rel="stylesheet">
    <script src="json3.min.js"></script>
    <script src="date.js"></script>
    <script src="index.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="departures">
      <div class="departure unreachable">
        <div class="destination">The Moon</div>
        <div class="timeLeft">2</div>
      </div>
      <div class="departure reachable">
        <div class="destination">Tesco</div>
        <div class="timeLeft">12</div>
      </div>
    </div>
    <div id="footer">
      <p id="lastUpdate">Loading</p>
    </div>
  </body>
</html>
